/**
 * Config for Threes
 */


//======================================================================================= */
// Colors ================================================================================ */

//$threes_colors: (
//  #333333, // color1
//  #666666, // color2, etc
//  #888888,
//  #999999
//);

// ======================================================================================= */
// Margin ================================================================================ */

// $threes_marginMin: 0;
// $threes_marginMax: 50;
// $threes_marginStep: 5;

// ======================================================================================= */
// Padding ================================================================================ */

// $threes_paddingMin: 0;
// $threes_paddingMax: 50;
// $threes_paddingStep: 5;

// ======================================================================================= */
// Border ================================================================================ */

// $threes_borderMin: 1;
// $threes_borderMax: 2;
// $threes_borderStep: 1;

// ======================================================================================= */
// Font-size ================================================================================ */

// $threes_fontSizeMin: 8;
// $threes_fontSizeMax: 18;
// $threes_fontSizeStep: 2;


// ======================================================================================= */
// ======================================================================================= */
// ======================================================================================= */
// ======================================================================================= */

/**
 *
 *
 * Threes (Simple Semantic Styles)
 *
 *
 */
/**
 * @copyright	Copyright (c) 2013 Hervé Guétin
 * @license	 http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author	 Hervé Guétin - http://www.herveguetin.com - @herveguetin
 * @github      https://github.com/herveguetin/Herve_Threes
 */

// ======================================================================================= */
// Mixins ================================================================================ */

@mixin threes_frame($property: margin, $prop: $property, $min: 5, $max: 50, $step: 5, $suffixes: (top, right, bottom, left), $suffixesShort: (t, r, b, l), $withMainProperty: true) {
  @for $i from 0 to round(($max/$step) + 1) {
    $value: $i*$step;
    @if $value >= $min {
      @if($withMainProperty) {
        .#{$prop}-#{$value} {
          #{$property}: #{$value}px;
        }
      }
      @if($suffixes) {
        @for $j from 1 to length($suffixes) + 1 {
          .#{$prop}-#{$value}-#{nth($suffixesShort, $j)} {
            #{$property}-#{nth($suffixes, $j)}: #{$value}px;
          }
        }
      }
    }
  }
}

@mixin threes_getColor($colorIndex: 1, $property: border, $isImportant: false) {
  @for $i from 1 to length($threes_colors) + 1{
    @if($i == $colorIndex) {
      $value: nth($threes_colors, $i);
      @if($isImportant) {
        $value: $value + $isImportant;
      }
      @if($property == 'text') {
        color: #{$value};
      }
      @else {
        #{$property}-color: #{$value};
      }
    }
  }
}

@mixin threes_gutter($colorIndex: 1, $borderStyle: solid, $borderWidth: 10, $left: 50%) {
  @include threes_getColor($colorIndex, border);
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left: #{$left};
  margin-left: #{$borderWidth/-2}px;
  border-left-style: #{$borderStyle};
  border-left-width: #{$borderWidth}px;
}

@mixin threes_centerInContainer($container: '.image-container', $horizontally: true, $vertically: true) {
  overflow: hidden;
  #{$container} {
    position: absolute;
    @if($horizontally) {
      left: 50%;
    }
    @if($vertically) {
      top: 50%
    }
  }
  #{$container} > * {
    position: relative;
    @if($horizontally) {
      left: -50%;
    }
    @if($vertically) {
      top: -50%
    }
  }
}

/* ======================================================================================= */
/* Colors ================================================================================ */

$threes_colors: (
  #333333, // color1
  #666666, // color2, etc
  #888888,
  #999999
) !default;

@for $i from 1 to length($threes_colors) + 1{
  .color#{$i}-tx {
    color: nth($threes_colors, $i);
  }

  .color#{$i}-bd {
    border-color: nth($threes_colors, $i);
  }

  .color#{$i}-bg {
    background-color: nth($threes_colors, $i);
  }
}

.white-tx {
  color: white;
}

.white-bd {
  border-color: white;
}

.white-bg {
  background-color: white;
}

/* ====================================================================================== */
/* Position ============================================================================= */

.pos-abs {
  position: absolute;
  top: 0;
  left: 0;
}

.pos-rel {
  position: relative;
}

.v-top {
  vertical-align: top;
}

.v-middle {
  vertical-align: middle;
}

.v-bottom {
  vertical-align: bottom;
}

/* ======================================================================================= */
/* Float ================================================================================= */

.f-left,
.left {
  float: left !important;
}

.f-right,
.right {
  float: right !important;
}

.f-none {
  float: none !important;
}

.f-fix {
  float: left;
  width: 100%;
}

/* ======================================================================================= */
/* Display & Visibility ================================================================== */

.dis-b {
  display: block
}

.dis-li {
  display: list-item;
}

.dis-in {
  display: inline
}

.dis-inb {
  display: inline-block
}

.dis-t {
  display: table
}

.no-display {
  display: none;
}

.hidden {
  display: block !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}

/* ======================================================================================= */
/* Overflow ============================================================================== */

.ov-auto {
  overflow: auto;
}

.ov-hidden {
  overflow: hidden;
}

/* ======================================================================================= */
/* Size ================================================================================== */
.width-full {
  width: 100%;
}

/* ======================================================================================= */
/* Margin ================================================================================ */

.no-margin {
  margin: 0 !important;
}

.mg-auto {
  margin: auto;
}

// ======================================================================================= */

$threes_marginMin: 0 !default;
$threes_marginMax: 50 !default;
$threes_marginStep: 5 !default;

@include threes_frame(margin, mg, $threes_marginMin, $threes_marginMax, $threes_marginStep);

/* ======================================================================================= */
/* Padding =============================================================================== */

.no-padding {
  padding: 0 !important;
}

// ======================================================================================= */

$threes_paddingMin: 0 !default;
$threes_paddingMax: 50 !default;
$threes_paddingStep: 5 !default;

@include threes_frame(padding, pd, $threes_paddingMin, $threes_paddingMax, $threes_paddingStep);

/* ======================================================================================= */
/* Border ================================================================================ */

.bd {
  border-width: 0px;
  border-style: solid;
}

.no-border {
  border: none!important;
}

// ======================================================================================= */

$threes_borderMin: 1 !default;
$threes_borderMax: 5 !default;
$threes_borderStep: 1 !default;

$threes_frameBorderSuffixes: ('top-width', 'right-width', 'bottom-width', 'left-width');
@include threes_frame(border, bd, $threes_borderMin, $threes_borderMax, $threes_borderStep, $threes_frameBorderSuffixes, (t, r, b, l), false);

@include threes_frame(border-width, bd, $threes_borderMin, $threes_borderMax, $threes_borderStep, false);

/* ======================================================================================= */
/* Font, Text, Typography ================================================================ */

.ft-st-b {
  font-weight: bold;
}

.ft-st-i {
  font-style: italic;
}

.ft-st-u {
  text-decoration: underline;
}

.ft-st-s {
  text-decoration: line-through;
}

.ft-up {
  text-transform: uppercase;
}

.ft-lo {
  text-transform: lowercase;
}

.ft-cap {
  text-transform: none !important;
}

.ft-reset {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.a-left {
  text-align: left !important;
}

.a-center {
  text-align: center !important;
}

.a-right {
  text-align: right !important;
}

.nobr {
  white-space: nowrap !important;
}

.wrap {
  white-space: normal !important;
}

// ======================================================================================= */

$threes_fontSizeMin: 8 !default;
$threes_fontSizeMax: 18 !default;
$threes_fontSizeStep: 2 !default;

@include threes_frame(font-size, ft-sz, $threes_fontSizeMin, $threes_fontSizeMax, $threes_fontSizeStep, null, null);

/* ======================================================================================= */
/* Tools ================================================================================= */

.no-bg {
  background: none !important;
}

.c-point {
  cursor: pointer;
}
